# ============================================================
# DIScutons-En — Variables d'environnement
# ============================================================

# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Neon PostgreSQL — Phase 2
DATABASE_URL=
DIRECT_URL=

# Authentification — Phase 4
AUTH_SECRET=
JWT_SECRET=

# Avatars DiceBear — Phase 5
NEXT_PUBLIC_DICEBEAR_URL=https://api.dicebear.com/9.x
